body{
    width: 100%;
    height: 100%;
    max-height: 80%;
    padding: 0;
    margin: 0;
}

#content{
    touch-action: manipulation;
    display: flex;
    justify-content: space-around;
    height: auto;
    max-height: 600px;
    width: 100%;
}

#statistics{
    display: inline-block;
    background-color: aquamarine;
    text-align: center;
    overflow: hidden;
    height: 100%;
}

#dartboard-section{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 1px solid black;
    text-align: center;
    background-color: aqua;
    max-width: 60%;
}

#history{
    display: inline-block;
    background-color: aquamarine;
    text-align: center;
    overflow: hidden;
    height: 100%;
}



h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
    text-transform: uppercase;
    margin: 10px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
    text-transform: uppercase;
    margin: 10px;
}


#board{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.board-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.board-row button{
    width: 70px;
    height: 70px;
}

#dartboard-section .special-throw{
    width: 130px;
}

#dartboard-section .board-action-btn{
    width: 200px;
}


#dart-form{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 200px;
}

#display-value{
    display: flex;
    justify-content:space-evenly;
}

#display-value input{
    appearance: none;
    width: 25%;
    text-align: center;
    font-size: 50px;
}

#submit-buttons{
    display: flex;
    justify-content: space-around;
}

#submit-buttons button{
    height: 50px;
}

#history table tr{
    margin-top: 20px;
}

#history table tr td{
    font-size: 30px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
}

#history table tr th{
    font-size: 16px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
}

#statistics p{
    font-size: 30px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
}