#content section{
    float: left;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
    text-transform: uppercase;
    margin: 10px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue;
    text-transform: uppercase;
    margin: 10px;
}

#dartboard-section{
    border: 1px solid black;
    margin-left: 50px;
    width: 40%;
    text-align: center;
    background-color: aqua;
}

#dartboard-section button{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}


#dartboard-section button{
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

#dartboard-section input{
    margin: 5px;
    width: 121px;
    height: 70px;
    text-align: center;
    font-size: 50px;
}

#dartboard-section .special-throw{
    width: 113px;
}

#dartboard-section .board-action-btn{
    width: 200px;
}

#dartboard-section #board{
    width: 100%;
}

#history{
    background-color: aquamarine;
    width: 20%;
    text-align: center;
    margin-left: 5%;
    height: 570px;
    overflow: hidden;
}

#history table{
    width: 100%;
}

#history table tr{
    margin-top: 20px;
}

#history table tr td{
    font-size: 30px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
}

#statistics{
    background-color: aquamarine;
    width: 20%;
    text-align: center;
    margin-left: 5%;
    height: 570px;
    overflow: hidden;
}

#statistics p{
    font-size: 30px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:darkslategrey;
}


