<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
  <link rel="stylesheet" href="../static/css/index.css">
  <title>Document</title>
</head>
<body>
    <h1>DARTISTICS</h1>
    <section id="users">
      {%for usr in users %}
      <a href="/{{usr.name}}">
        <div>{{ usr.name }}</div>
      </a>
      {% endfor %}
    </section>

    <section id="addUser">
      <form action="" method="POST">
        <input type="text" name="username">
        <button type="submit">+</button>
      </form>
    </section>
</body>
</html>