<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>Bootstrap demo</title>
 </head>
  <body>
    <section>
        <button onclick="writeValue('20')">20</button>     <button onclick="writeValue('19')">19</button>     <button onclick="writeValue('18')">18</button>     <button onclick="writeValue('17')">17</button>     <button onclick="writeValue('16')">16</button>
        <br>
        <button onclick="writeValue('15')">15</button>     <button onclick="writeValue('14')">14</button>     <button onclick="writeValue('13')">13</button>     <button onclick="writeValue('12')">12</button>     <button onclick="writeValue('11')">11</button>
        <br>
        <button onclick="writeValue('10')">10</button>     <button onclick="writeValue('9')">9</button>      <button onclick="writeValue('8')">8</button>      <button onclick="writeValue('7')">7</button>      <button onclick="writeValue('6')">6</button>
        <br>
        <button onclick="writeValue('5')">5</button>      <button onclick="writeValue('4')">4</button>      <button onclick="writeValue('3')">3</button>      <button onclick="writeValue('2')">2</button>      <button onclick="writeValue('1')">1</button>
        <br>
        <button onclick="writeValue('0')">0</button>      <button onclick="writeValue('25')">25</button>     <button onclick="writeValue('D')" class="special-throw">D</button>        <button onclick="writeValue('T')" class="special-throw">T</button>
        <br>
        <input id="first-dart" type="text" readonly>             <input id="second-dart" type="text" readonly>            <input id="third-dart" type="text" readonly>
        <br>
        <button onclick="deleteThrows()" class="board-action-btn">Delete</button><button onclick="enter()" class="board-action-btn">Enter</button>
    </section>
    <script lang="javascript">
        function deleteThrows(){
            document.getElementById("first-dart").value = "";
            document.getElementById("second-dart").value = "";
            document.getElementById("third-dart").value = "";
        }

        function writeValue(value){
            dart1 = document.getElementById("first-dart");
            dart2 = document.getElementById("second-dart");
            dart3 = document.getElementById("third-dart");
            switch(value){
                case 'T':
                    if(dart1.value == ""){
                        dart1.value = "T";
                        break;
                    }
                    else if(dart2.value == ""){
                        dart2.value = "T";
                        break;
                    }
                    else if(dart3.value == ""){
                        dart3.value = "T";
                        break;
                    }
                    break;

                case 'D':
                    if(dart1.value == ""){
                        dart1.value = "D";
                        break;
                    }
                    else if(dart2.value == ""){
                        dart2.value = "D";
                        break;
                    }
                    else if(dart3.value == ""){
                        dart3.value = "D";
                        break;
                    }
                    break;
                
                case '0':
                    if(dart1.value == ""){
                        dart1.value = "0";
                        break;
                    }
                    else if(dart2.value == ""){
                        dart2.value = "0";
                        break;
                    }
                    else if(dart3.value == ""){
                        dart3.value = "0";
                        break;
                    }
                    break;

                case '25':
                if(dart1.value == "" || dart1.value == "D"){
                        dart1.value = dart1.value + value;
                        break;
                    }
                    else if(dart2.value == "" || dart2.value == "D"){
                        dart2.value = dart2.value + value;
                        break;
                    }
                    else if(dart3.value == "" || dart3.value == "D"){
                        dart3.value = dart3.value + value;
                        break;
                    }
                    break;
                    
                default:
                    if(dart1.value == "" || dart1.value == "D" || dart1.value == "T"){
                        dart1.value = dart1.value + value;
                        break;
                    }
                    else if(dart2.value == "" || dart2.value == "D" || dart2.value == "T"){
                        dart2.value = dart2.value + value;
                        break;
                    }
                    else if(dart3.value == "" || dart3.value == "D" || dart3.value == "T"){
                        dart3.value = dart3.value + value;
                        break;
                    }
                    break;
            }
        }
    </script>
  </body>
</html>